.sliderContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  padding: 40px;
  min-height: 100vh;
}
.forHeader {
  text-align: center;
  color: #05acff;
  font-size: 48px;
  font-family: 'Roboto';
  margin: 40px;
}
